{% extends 'budget_app/base.html' %}
{% block content %}
<h3>Are you sure you want to delete <i>"<u>{{item}}</u>"</i> ?</h3>

<form method="POST" class="mt-4">
    {% csrf_token %}
    <input type="submit" value="Confirm" class="btn btn-danger shadow-sm rounded">
    <br><br>
    <!-- <input type="button" value="Go Back" class="btn btn-success shadow-sm rounded"> -->
    <a href="{% url 'items' %}">
        <button type="button" class="btn btn-success shadow-sm rounded"> Go Back </button>
    </a>
    <!-- <div class="col-lg-6 pl-0">
        {{form.title}} <br>
        {{form.amount}} <br>
        {{form.date}} <br>
    </div> -->
    <!-- <button type="submit" class="btn btn-primary shadow-sm">Add</button> -->
</form>
{% endblock %}