{% extends 'budget_app/base.html' %}

{% block scripts %}



<script type="text/javascript">
    $(document).ready(function () {
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                // labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                // labels: [{% for item in items %} '{{ item.title }}', {% endfor %}],
                labels: [{% for d in dups %}'{{ d.title }}', {% endfor %}],
        datasets: [{
            // label: '',
            // data: [{% for item in items %} '{{ item.amount }}', {% endfor %}],
            data: [{% for d in dups %}'{{ d.amount__sum }}', {% endfor %}],
        backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)'
    ],
        borderColor: [
        'rgba(255, 99, 132, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
    ],
        borderWidth: 1
        }]
            },
        options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
        });
    });
</script>

{% endblock %}

{% block content %}

<!-- <canvas id="myChart" width="200" height="200"></canvas> -->

<!-- <form method="POST" class="mt-4">
    {% csrf_token %}
    <div class="col-lg-6 pl-0">
        <input type="month">
    </div>
    <button type="submit" class="btn btn-primary shadow-sm"> Show Data </button>
</form>

<button class="btn btn-primary mb-3 shadow-sm  rounded">
    <a href="{% url 'addItem' %}" style="color: white;">test</a>
</button> -->

<div class="row">
    <div class="col">
        <a href="{% url 'addItem' %}" style="color: white;">
            <button class="btn btn-primary mb-3 shadow-sm  rounded">
                Add Items
            </button>
        </a>
        {% for item in items %}
        <div class="row">
            <div class="col">
                <div class="card bg-light mb-4 shadow rounded " style="max-width: 20rem;">
                    <div class="card-body px-4">
                        <h4 class="card-title p-0 mx-auto"> {{item.title|capfirst }} </h4>
                        <p class="card-text">
                            ₹ {{item.amount}} <br>
                            <span class="text-muted">
                                {{item.date|date:'j M Y'}} <br>
                            </span>
                        </p>
                        <a href="{% url 'updateItem' item.id %}" <button class="btn btn-info btn-sm shadow-sm rounded">
                            Update
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col">
        <div class="container pr-10 mr-10">
            <canvas id="myChart" width="550" height="500"></canvas>
        </div>
    </div>
</div>

{% endblock %}